p {
  margin-top: "30px";
  text-align: "center";
  font-style: "italic";
  font-size: "14px";
  font-weight: "300";
  margin-left: "200px";
  margin-right: "200px";
  line-height: "1.5";
}

.folderImage {
  width: 500px;
  margin: 70px;
  /* border-radius: 13px */
}

.folderGrid {
display: flex;
flex-wrap: wrap;
flex-direction: row;
}

.folderTitle {
  font-family: "Playfair Display", serif;
}

@media (max-width: 768px) {
  .text {
    margin-top: "30px";
    text-align: "center";
    font-style: "italic";
    font-size: "14px";
    font-weight: "300";
    margin-left: "20px";
    margin-right: "20px";
    line-height: "1.5";
  } 
  
  @media (min-width: 768px) and (max-width: 1024px) {
    .text {
      margin-top: "30px";
      text-align: "center";
      font-style: "italic";
      font-size: "14px";
      font-weight: "300";
      margin-left: "20px";
      margin-right: "20px";
      line-height: "1.5";
    }  
  }
}