.background {
  width: 100%;
  height: 100vh;
  background-image: url("https://res.cloudinary.com/dwenvtwyx/image/upload/v1729416672/1927770_975440439216944_7677889623802894798_n_uq3omb.webp");
  position: fixed;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  box-sizing: border-box;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  overflow: hidden;
}

.contactHeader {
  color: white;
  margin-top: 100px;
  text-align: right;
  font-size: 32px;
  padding-right: 40px;
}

.contactContainer {
  margin-top: 50px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding-left: 40px;
  width: 100%;
}

@media (max-width: 768px) {
  .contactHeader {
    font-size: 24px;
    text-align: center;
    padding-right: 0;
    margin-top: 80px;
  }

  .contactContainer {
    padding-left: 20px;
    margin-top: 30px;
    align-items: flex-start;
  }
}

@media (min-width: 768px) and (max-width: 1280px) {
  .contactHeader {
    font-size: 28px;
    text-align: right;
    padding-right: 30px;
  }

  .contactContainer {
    padding-left: 30px;
    margin-top: 40px;
  }
}

@media (max-width: 1280px) and (max-height: 800px) {
  .background {
    background-position: center center;
    padding: 20px;
  }

  .contactHeader {
    font-size: 30px;
    margin-top: 90px;
  }

  .contactContainer {
    padding-left: 25px;
    margin-top: 40px;
  }
}
